version: "3.3"
services:
  processor:
    image: linea-processor
    user: "${UID:-1000}:${GID:-1000}"
    tty: true
    stdin_open: true
    volumes:
      - "./data:/src/data"
      - "./incoming:/src/incoming"
      - "./data/videos:/src/videos"
      - "./www:/src/www"
    environment:
      - LINEA_STREAMING_BASE_URL=https://subdomain.domain.tld
      # - LINEA_VIDEOS_BASE_URL=https://storage.domain.tld/videos
      # Platform customization
      - PLATFORM_TITLE=Your platform title
      - PLATFORM_DESCRIPTION=Your platform description
      - PLATFORM_OG_TITLE=Your platform OG title # (will appear in Facebook, Twitter, etc.)
      - PLATFORM_OG_DESCRIPTION=Your platform OG description # (will appear in Facebook, Twitter, etc.)
      - PLATFORM_OG_IMAGE=https://your.domain.tld/images/fb-logo.webp # (will appear in Facebook, Twitter, etc.)
      - PLATFORM_EXTERNAL_LINK_TEXT=Not Hosted here ⇾ # (will appear in the links to external channels )
      - PLATFORM_PRIVACY_NOTICE=No data is or will ever be stored or processed. We don't care about your stuff. # (will appear in the footer)
      - PLATFORM_SHRUG_EMOJI=🤷 # (emoji displayed at the end of the privacy notice)

  web:
    image: sebp/lighttpd
    depends_on:
      processor:
        condition: service_completed_successfully
    volumes:
      - "./lighttpd/cache:/var/cache/lighttpd/compress"
      - "./lighttpd/config:/etc/lighttpd"
      - "./lighttpd/logs:/var/log/lighttpd"
      # Web Page
      - "./www/index.html:/var/www/localhost/htdocs/index.html"
      - "./www/index._hs:/var/www/localhost/htdocs/index._hs"
      - "./www/images:/var/www/localhost/htdocs/images"
      # Data
      - "./www/data.json:/var/www/localhost/htdocs/data.json"
      - "./data/covers:/var/www/localhost/htdocs/covers"
      - "./data/videos:/var/www/localhost/htdocs/videos"
    restart: no

    # Uncomment this section if you use Traefik for SSL termination and routing
    # networks:
    #   - traefik-network
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.services.subdomain.loadbalancer.server.port=80"
    #   # Router
    #   - "traefik.http.routers.subdomain.rule=Host(`subdomain.domain.tld`)"
    #   - "traefik.http.routers.subdomain.entrypoints=websecure"
    #   - "traefik.http.routers.subdomain.tls=true"
    #   - "traefik.http.routers.subdomain.tls.certresolver=letsencrypt"

networks:
  traefik-network:
    external: true
